<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Simple Blog</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css" type="text/css" rel="stylesheet">
         <!-- jQuery cdn -->
     <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
     <!-- Bootstrap css cdn-->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="./stylesheets/home.css">
  </head>
  <body>
    <div class="header">
      <h2 style="font-size: 6em; padding-top: 100px;">Benvenuto</h2>
    </div>
    <div class="topnav">
      <a href="/posts">Home</a>
      <a href="/posts/new">Crea un post</a>
      <% if(!currentUser){ %>
        <a href="/register" style="float: right">Registrati</a>
        <a href="/login" style="float: right">Accedi</a>
      <% } else { %> 
        <a href="/logout" style="float: right">Esci</a>
        <a style="float: right"><%= currentUser.username %></a>
      <% } %>
    </div>
    
    <% if(error && error.length > 0){ %>
      <div class="alert alert-danger" role="alert">
        <%= error %>
      </div>
    <% } %>
    <% if(success && success.length > 0){ %>
      <div class="alert alert-success" role="alert">
        <%= success %>
      </div>
    <% } %>
    
    <div class="row">
      <div class="leftcolumn">
        <% posts.forEach(function(post){ %>
          <div class="card">
            <h2><%= post.title %></h2>
            <h5>Creato il Dec 7, 2017</h5>
            <img class="fakeimg" style="height:200p" src="<%= post.image %>">
            <p><%= post.description %></p>
            <a class="ui yellow button" href="/posts/<%= post._id %>">Scopri di più</a>
          </div>
        <% }) %>
      </div>
      <div class="rightcolumn">
        <div class="card">
          <h2>Su di me</h2>
          <div id="aboutImg" class="fakeimg" style="height:100px"></div>
          <p>Questo blog ha lo scopo di mostrarti alcune funzionalità che possiamo offrirti, se ti registri potrai pubblicare post tu stesso e commentare quelli degli altri. <strong>Tieni a mente tuttavia che se i tuoi contenuti dovessero risultare offensivi dovremmo cancellarli.</strong></p>
         </div>
        <div class="card">
          <a class="ui inverted violet button" href="https://rocky-hamlet-12842.herokuapp.com/portfolio">Torna al portfolio</a>
        </div>
        <div class="card">
          <h2>Seguimi</h2>
          <p>Some text...</p>
        </div>
      </div>
    </div>
  </body>
</html>
