<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Simple Blog</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">  
        <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css" type="text/css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/stylesheets/show.css">
    </head>
    <body>
        <div class="topnav">
          <a href="/posts">Home</a>
          <a href="/posts/new">Crea un post</a>
          <% if(!currentUser){ %>
              <a href="/register" style="float: right">Registrati</a>
              <a href="/login" style="float: right">Accedi</a>
          <% } else { %>
              <a href="/logout" style="float: right">Esci</a>
              <a style="float: right"><%= currentUser.username %></a>
          <% } %>
        </div>
        <% if(error && error.length > 0){ %>
          <div class="alert alert-danger"><%= error %></div>
        <% } %>
        <% if(success && success.length >0){ %>
          <div class="alert alert-success"><%= success %></div>
        <% } %>

        <div class="leftContent">
            <img src="<%= post.image %>">
            <form class="ui action input" action="/posts/<%= post._id %>/comment" method="post">
                <input type="text" name="text" placeholder="A cosa stai pensando?">
                <button class="ui primary button">Invia</button>
            </form>
            <div class="commenti">
                <% post.comments.forEach(function(comment){ %>
                    <div class="commento">
                        <p class="ui top attached block header"><%= comment.author.username %><span style="float: right">Creato 10 ore</span></p>
                        <div class="ui bottom attached segment">
                            <p><%= comment.text %></p>
                            <form style="display: inline" action="/posts/<%= post._id %>/comment/<%= comment._id %>?_method=delete" method="post">
                                <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                                    <button class="ui mini negative button">Cancella</button>
                                <% } %>
                            </form>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
        <div class="rightContent">
            <h1><%= post.title %></h1>
            <p><%= post.description %></p>
            <p>Creato da: <strong><%= post.author.username %></strong></p>
                <% if(currentUser && post.author.id.equals(currentUser._id)){ %>
                    <a href="/posts/<%= post._id %>/edit" class="ui positive button">Modifica</a>
                    <form action="/posts/<%= post._id %>?_method=delete" method="post">
                        <button class="ui negative button">Cancella</button>
                    </form>
                <% } %>
        </div>
    </body>
</html>